body, html{
    height:100%
}

.its_christmas{
    background-image:url('img/ChristmasTree.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bgimglogin{
    /* Background image */
    background-image: url('img/loginbackground.jpg');
    /* Full-screen */
    height: 100%;
    /* Centre the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely postitioned elements inside the image */
    position:relative;
    /* Add a white text color to all elements */
    color: white;
    /* Add a font */
}

.welcomebackground{
    /* Background image */
    background-image: url('img/Welcome\ Background.jpg');
    /*Full-screen */
    height: 100%;
    /* Centre the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position */
    position: relative;
    /* Add a white text colour to all elements */
    color: white
}

.importantinfo{
    /* Adding a background to contrast the white text */
    background: rgba(0, 0, 0, 0.5);
    text-align: center;

}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.vidcontent{
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}